{% extends 'base.html' %}
{% load static %}
{% block title %}
    سبد خرید
{% endblock %}
{% block content %}





    <div class="page-content" style="min-height: 41.2px;">
        <div class="holder breadcrumbs-wrap mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">خانه</a></li>
                    <li><span>پرداخت</span></li>
                </ul>
            </div>
        </div>
        <div class="holder">
            <div class="container">
                <h1 class="text-center">صفحه پرداخت نوع 3</h1>
                <div class="row">
                    <div class="col-md-10">
                        <div class="steps-progress ">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#step1" data-step="1"><span>01.</span><span>مشخصات سفارش
											</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#step3" data-step="2"><span>02.</span><span>نوع
											ارسال</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#step4" data-step="3"><span>03.</span><span>شیوه
											پرداخت</span></a>
                                </li>
                            </ul>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4"  style="width: 25%;"></div>
                            </div>
                        </div>
                        <form action="{% url 'order:order_create' %}" method="post">
                            {% csrf_token %}
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="step1">
                                <div class="tab-pane-inside">

                                    <div class="row mt-2">
                                        <div class="col-sm-9">
                                            <label>نام : </label>
                                            <div class="form-group">
                                                <input type="text" value="{{ user.first_name }}" name="f_name" class="form-control form-control--sm">
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <label>نام خانوادگی : </label>
                                            <div class="form-group">
                                                <input type="text"  value="{{ user.last_name }}" name="l_name" class="form-control form-control--sm">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-9">
                                            <label>موبایل : </label>
                                            <div class="form-group">
                                                <input type="number" name="phone" value="{{ user.mobile }}" class="form-control form-control--sm">
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <label>کد پستی : </label>
                                            <div class="form-group">
                                                <input type="number" name="postal_code2" value="{{ user.postal_code }}" class="form-control form-control--sm">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2"></div>
                                    <label>آدرس 1 : </label>
                                    <div class="form-group">
                                        <input type="text" name="address" value="{{ user.address }}" class="form-control form-control--sm">
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-sm step-next">ادامه</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step3">
                                <div class="tab-pane-inside">
                                    <div class="clearfix">
                                        <input id="formcheckoutRadio1" value="1" name="radio1" type="radio" class="radio" checked="checked">
                                        <label for="formcheckoutRadio1">پست پیشتاز پرداخت آنلاین :
                                            15,000
                                            تومان (3-5 روز)</label>
                                    </div>
                                    <div class="clearfix">
                                        <input id="formcheckoutRadio2" value="2" name="radio1" type="radio" class="radio">
                                        <label for="formcheckoutRadio2">پست معمولی تسویه درب منزل : نرخ متغیر
                                             (5-7 روز)</label>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-sm step-next ">ادامه</button>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="step4">
                                <div class="tab-pane-inside">


                                    <div class="clearfix">
                                        <input id="formcheckoutRadio4" value="3" name="radio2" type="radio" class="radio" checked="checked">
                                        <label for="formcheckoutRadio4">پرداخت درب منزل</label>
                                        
                                    </div>

                                    <div class="clearfix">
                                        <input id="formcheckoutRadio5" value="4" name="radio2" type="radio" class="radio">
                                        <label for="formcheckoutRadio5">زرین پال</label>
                                    </div>


                                </div>
                                <div class="clearfix mt-1 mt-md-2">
                                    <button type="submit" class="btn btn--lg w-100">پرداخت
                                        سفارش</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="col-md-8 pl-lg-8 mt-2 mt-md-0">
                        <h2 class="custom-color">خلاصه سفارش</h2>
                        <div class="cart-table cart-table--sm pt-3 pt-md-0">
                            <div class="cart-table-prd cart-table-prd--head py-1 d-none d-md-flex">
                                <div class="cart-table-prd-image text-center">
                                    تصویر
                                </div>
                                <div class="cart-table-prd-content-wrap text-center">
                                    <div class="cart-table-prd-info">نام</div>
                                </div>
                                <div class="cart-table-prd-qty text-center">تعداد</div>
                                <div class="cart-table-prd-content-wrap">
                                    <div class="cart-table-prd-price">قیمت</div>
                                </div>
                            </div>
                            {% for c in cart %}
                                <div class="cart-table-prd">

                                    <div class="cart-table-prd-image">
                                        <a href="#" class="prd-img"><img class="fade-up ls-is-cached lazyloaded" src="{{ c.product.image.url}}" data-src="images/skins/fashion/products/product-01-1.webp" alt=""></a>
                                    </div>
                                    <div class="cart-table-prd-content-wrap text-center">
                                        <div class="cart-table-prd-info">
                                            <h2 class="cart-table-prd-name"><a href="product.html">{{ c.product.name}}</a>
                                            </h2>
                                            {% if c.variant %}
                                                <hr>
                                            {% endif %}
                                            {% if c.variant.size_variant %}
                                                <h7 class="cart-table-prd-name">سایز {{ c.variant.size_variant.name }}</h7>
                                            {% endif %}
                                            {% if c.variant.color_variant %}
                                                <h7 class="cart-table-prd-name">رنگ {{ c.variant.color_variant.name }}</h7>
                                            {% endif %}
                                        </div>
                                        <div class="cart-table-prd-qty">
                                            <div class="qty qty-changer">
                                                <input type="text" class="qty-input disabled" value="{{ c.quantity }}" data-min="0" data-max="1000">
                                            </div>
                                        </div>
                                        {% if c.product.status != 'None' %}
                                            <div class="cart-table-prd-price-total">
                                                {% widthratio c.variant.total_price 1 c.quantity %} تومان
                                            </div>
                                        {% else %}
                                            <div class="cart-table-prd-price-total">
                                                {% widthratio c.product.total_price 1 c.quantity %} تومان
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                        <div class="mt-2"></div>
                        <div class="card">
                            <div class="card-body">
                                <h3>کد تخفیف</h3>
                                <p>کد تخفیف دریافت کردید؟ پس چند عدد و حرف به طور تصادفی با
                                    هم فاصله دارید!</p>
                                <div class="form-inline mt-2">
                                    <input type="text" class="form-control form-control--sm" placeholder="کد تخفیف شما">
                                    <button type="submit" class="btn">تایید</button>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2"></div>
                        <div class="cart-total-sm">
                            <span>جمع کل</span>
                            <span class="card-total-price">{{ total}} تومان</span>
                        </div>
                        <div class="mt-2"></div>
                        <div class="card">
                            <div class="card-body">
                                <h3>دیدگاه سفارش</h3>
                                <textarea class="form-control form-control--sm textarea--height-100" placeholder="متن دیدگاه شما در اینجا"></textarea>
                                <div class="card-text-info mt-2">
                                    <p>* پس انداز شامل تبلیغات ، کوپن و ارسال (در صورت وجود)
                                        است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>











{% endblock %}