<a href="product.html" class="prd-img image-hover-scale image-container" style="padding-bottom: 128.48%" tabindex="0">
    <img src="images/skins/fashion/products/product-17-1.webp" data-src="images/skins/fashion/products/product-17-1.webp" alt="Stand Collar Shirt" class="js-prd-img fade-up ls-is-cached lazyloaded">
    <div class="foxic-loader"></div>
    <div class="prd-big-squared-labels">
        <div class="label-sale"><span>10%- <span class="sale-text">فروش
													ویژه</span></span>
            <div class="countdown-circle">

            </div>
        </div>
    </div>
</a>