<div class="col-sm-9">
						<form data-toggle="validator" class="contact-form" id="contactForm" novalidate="novalidate">
							<div class="form-confirm">
								<div class="success-confirm">
									با تشکر! پیام شما ارسال شده است به زودی به شما پاسخ خواهیم داد!
								</div>
								<div class="error-confirm">
									اوه! هنگام ارسال فرم خطایی روی داد. تازه سازی و ارسال مجدد.
								</div>
							</div>
							<div class="form-group">
								<div class="row vert-margin-middle">
									<div class="col-lg">
										<input type="text" name="name" class="form-control form-control--sm" placeholder="نام" required="">
									</div>
									<div class="col-lg">
										<input type="text" name="lastName" class="form-control form-control--sm" placeholder="نام خانوادگی" required="">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row vert-margin-middle">
									<div class="col-lg">
										<input type="text" name="email" class="form-control form-control--sm" placeholder="ایمیل" required="">
									</div>
									<div class="col-lg">
										<input type="text" name="phone" class="form-control form-control--sm" placeholder="تلفن" required="">
									</div>
								</div>
							</div>
							<div class="form-group">
								<textarea class="form-control form-control--sm textarea--height-200" name="message" placeholder="پیام" required=""></textarea>
							</div>
							<button class="btn" type="submit">ارسال پیام</button>
						</form>
					</div>