{{ product.information1|safe }}


{% if product.status == 'Size' %}
    <form action="" method="post">
        {% csrf_token %}
        {% for data in variant %}
            <input type="radio" value="{{ data.id }}" {% if variants.id == data.id %} checked{% endif %}
            name="select" onchange="this.form.submit();">
            <a href="">{{ data.size_variant }}</a>

        {% endfor %}
    </form>



{% elif product.status == 'Color' %}
    <form action="" method="post">
        {% csrf_token %}
    {% for data in variant %}
        <input type="radio" value="{{ data.id }}" {% if variants.id == data.id %} checked{% endif %}
            name="select" onchange="this.form.submit();">
            <a href="">{{ data.color_variant }}</a>
    {% endfor %}
    </form>


{% endif %}

<a href="">{{ variants.total_price }}</a>