{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% block title %}
    درباره ی ما
{% endblock %}
{% block content %}

    <div class="page-content" style="min-height: 41.2px;">
		<div class="holder mt-0 py-3 py-sm-5 py-md-10 bg-cover lazyloaded" data-bgset="images/pages/about-bg.webp" style="background-image: url(&quot;file:///C:/Users/admin/Desktop/Foxic1/images/pages/about-bg.webp&quot;);">
			<div class="container">
				<div class="row">
					<div class="col-11 col-md-9 col-xl-9">
						<div class="page-title-bg py-md-3 py-xl-6">
							<h1>درباره ما</h1>
							<p class="d-none d-md-block">فروشگاه فاکسیک در سال 2010 تاسیس شد
								و یکی از مراکز فروش دنیای آرایشگران است.<br>
								ما ابزارهای لازم برای آرایشگران را ارائه می دهیم تا صنعت خود
								را پیشرفت دهند و صنعت را تا آنجا که ممکن است جلو ببریم.</p>
							<p>مستقر در تهران، فروشگاه فاکسیک در درجه اول در ایران فعالیت می
								کند ، اما فروش بین المللی با استقبال و ارسال روزانه انجام می
								شود. ما یک پیشخوان تجاری داریم که دارای یک نمای جلو است و
								شما را تشویق می کنیم که وارد شوید و ما را ببینید!</p>
							<p class="d-none d-md-block"><i><b>پشتیبانی ما از 10:00 صبح تا
										18:00 عصر (شنبه-پنج شنبه) در دسترس است.<br>
										ما معمولاً ظرف 24 ساعت به شما پاسخ می دهیم.</b></i>
							</p>
						</div>
					</div>
				</div>
			</div>
		<picture style="display: none;"><source data-srcset="images/pages/about-bg.webp" sizes="1519px" srcset="images/pages/about-bg.webp"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1519px"></picture></div>
		<div class="holder">
			<div class="container">
				<div class="title-wrap text-center">
					<h2 class="h1-style">چرا از فروشگاه ما خرید کنید؟</h2>
				</div>
				<div class="text-icn-blocks-row">
					<div class="text-icn-block">
						<div class="icn">
							<i class="icon-shopping-1"></i>
						</div>
						<div class="text">
							فروشگاه لوازم خریدار کامل
						</div>
					</div>
					<div class="text-icn-block">
						<div class="icn">
							<i class="icon-box-1"></i>
						</div>
						<div class="text">
							ارسال در همان روز برای همه سفارشات
						</div>
					</div>
					<div class="text-icn-block">
						<div class="icn">
							<i class="icon-delivery-truck"></i>
						</div>
						<div class="text">
							ارسال رایگان برای همه سفارشات
						</div>
					</div>
					<div class="text-icn-block">
						<div class="icn">
							<i class="icon-call-center"></i>
						</div>
						<div class="text">
							مشاوره حرفه ای و پشتیبانی عالی
						</div>
					</div>
					<div class="text-icn-block d-none d-sm-block">
						<div class="icn">
							<i class="icon-tag"></i>
						</div>
						<div class="text">
							تخفیف های فوق العاده جذاب
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="holder py-4 py-md-7 bgcolor">
			<div class="container">
				<div class="row fact-blocks-row lazyloaded">
					<div class="col-sm-6">
						<div class="fact-block">
							<div class="number"><span data-count="90">90</span>%</div>
							<div class="title">از نظرات عالی</div>
							<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
								متن ساختگی با تولید سادگی نامفهوم
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="fact-block">
							<div class="number js-count-to"><span data-count="1545">1545</span>
							</div>
							<div class="title">فروش بیشتر</div>
							<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
								متن ساختگی با تولید سادگی نامفهوم
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="fact-block">
							<div class="number js-count-to"><span data-count="100">100</span>%
							</div>
							<div class="title">مشتری های خشنود</div>
							<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
								متن ساختگی با تولید سادگی نامفهوم
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="holder">
			<div class="container">
				<div class="title-wrap text-center">
					<h2 class="h1-style">تیم ما</h2>
				</div>
				<div class="row person-row">
					<div class="person-item image-hover-scale-scale">
						<div class="person-item-image image-container" style="padding-bottom: 141.86%;">
							<img class="fade-up lazyloaded" src="images/pages/img-person-01.webp" data-src="images/pages/img-person-01.webp" alt="">
						</div>
						<div class="person-item-info">
							<div class="person-item-title">
								رضا<br>افشار
							</div>
							<div class="person-item-post">
								نویسنده خلاق
							</div>
							<div class="person-item-socials">
								<ul class="social-list list-unstyled">
									<li>
										<a href="#"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="person-item image-hover-scale-scale">
						<div class="person-item-image image-container" style="padding-bottom: 141.86%;">
							<img class="fade-up lazyloaded" src="images/pages/img-person-02.webp" data-src="images/pages/img-person-02.webp" alt="">
						</div>
						<div class="person-item-info">
							<div class="person-item-title">
								سعید<br>کریمی
							</div>
							<div class="person-item-post">
								نویسنده خلاق
							</div>
							<div class="person-item-socials">
								<ul class="social-list list-unstyled">
									<li>
										<a href="#"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="person-item image-hover-scale-scale">
						<div class="person-item-image image-container" style="padding-bottom: 141.86%;">
							<img class="fade-up lazyloaded" src="images/pages/img-person-03.webp" data-src="images/pages/img-person-03.webp" alt="">
						</div>
						<div class="person-item-info">
							<div class="person-item-title">
								نسترن<br>سبحانی
							</div>
							<div class="person-item-post">
								نویسنده خلاق
							</div>
							<div class="person-item-socials">
								<ul class="social-list list-unstyled">
									<li>
										<a href="#"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="person-item image-hover-scale-scale">
						<div class="person-item-image image-container" style="padding-bottom: 141.86%;">
							<img class="fade-up lazyloaded" src="images/pages/img-person-04.webp" data-src="images/pages/img-person-04.webp" alt="">
						</div>
						<div class="person-item-info">
							<div class="person-item-title">
								پریسا<br>توکلی
							</div>
							<div class="person-item-post">
								نویسنده خلاق
							</div>
							<div class="person-item-socials">
								<ul class="social-list list-unstyled">
									<li>
										<a href="#"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}