{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% block title %}
    سوالات متداول
{% endblock %}
{% block content %}

    <div class="page-content" style="min-height: 41.2px;">
		<div class="holder breadcrumbs-wrap mt-0">
			<div class="container">
				<ul class="breadcrumbs">
					<li><a href="{% url 'home:home' %}">خانه</a></li>
					<li><span>سوالات متداول</span></li>
				</ul>
			</div>
		</div>
		<div class="holder">
			<div class="container">
				<div class="page-title text-center">
					<h1>سوالات متداول</h1>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-18 col-xl-12">
						<div class="faq-item-wrap">
							<div class="faq-item">
								<h3 class="faq-item-title">قالب فاکسیک چیست</h3>
								<div class="faq-item-content">
									<p>ما همه تلاش خود را انجام خواهیم داد تا بسته شما در اسرع وقت به مقصد برسد. در مرکز
										تهران، حتی می توانیم پیک یک روزه ترتیب دهیم.</p>
									<p>سفارشات اکسپرس که قبل از ساعت 2 بعد از ظهر انجام شده باشد در همان روز ارسال می
										شود. حمل و نقل استاندارد در ایران بین 2-3 روز طول می کشد.</p>
									<p>همچنین می توانیم فقط در عرض چند روز به بسیاری از نقاط کره زمین حمل کنیم. برای
										اطلاعات بیشتر لطفاً به صفحه "حمل و نقل بین المللی" ما مراجعه کنید.</p>
								</div>
							</div>
							<div class="faq-item">
								<h3 class="faq-item-title">آیا می توانم پیام هدیه اضافه کنم؟</h3>
								<div class="faq-item-content">
									<p>کاملا! ما نسبت به یادداشت های هدیه خود افتخار می کنیم و افزودن یک یادداشت هدیه
										ساده است. روی کارت هدیه لوکس و با کیفیت چاپ خواهد شد. (فقط اطمینان حاصل کنید که
										از آن شخص است - مگر اینکه بخواهید یک سورپرایز باشد).</p>
								</div>
							</div>
							<div class="faq-item">
								<h3 class="faq-item-title">آیا رسید را در جعبه قرار می دهید</h3>
								<div class="faq-item-content">
									<p>کاملا! ما نسبت به یادداشت های هدیه خود افتخار می کنیم و افزودن یک یادداشت هدیه
										ساده است. روی کارت هدیه لوکس و با کیفیت چاپ خواهد شد. (فقط اطمینان حاصل کنید که
										از آن شخص است - مگر اینکه بخواهید یک سورپرایز باشد).</p>
								</div>
							</div>
							<div class="faq-item">
								<h3 class="faq-item-title">آیا نرخ شرکتی یا انبوه ارائه می دهید؟</h3>
								<div class="faq-item-content">
									<p>تیم شرکتی ما می تواند به شما کمک کند تا بهترین حالت را پیدا کنید. خواه بخواهید از
										کارمندان خود تشکر کنید و به آنها پاداش دهید ، یا هدیه ای برای مشتری ارسال کنید ،
										ما می توانیم نیازهای شما را برآورده کنیم. از طیف گسترده ای از مجموعه های مانع و
										هدایا و هدایا و اشتراک های شخصی ، مطمئن هستیم که مورد علاقه خود را پیدا خواهید
										کرد.</p>
									<p>اگر می خواهید طرحی به هدیه خود اضافه کنید ، استودیوی ما می تواند آرم و پیام شما
										را در هدیه شما قرار دهد. همه سفارشات به زیبایی هدیه بسته بندی شده در بسته بندی
										امضای ما ارائه می شوند.</p>
									<p>لطفا با ما تماس بگیرید <a href="mailto:Example@gmail.com"><strong>Example@gmail.com</strong></a> یا
										تماس با شماره <a href="tel_02155667788"><strong>02155667788</strong></a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}