{% extends 'base.html' %}
{% load static %}
{% block title %}
    ورود/ثبت نام
{% endblock %}
{% block content %}

    <div class="page-content">
        <div class="holder breadcrumbs-wrap mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">خانه</a></li>
                    <li><span>ایجاد حساب کاربری</span></li>
                </ul>
            </div>
        </div>
        <div class="holder">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-18 col-lg-12">
                        <h2 class="text-center">ورود / ثبت نام</h2>
                        <div class="form-wrapper text-center">
                            <p>لطفا شماره موبایل خود را  وارد کنید :</p>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row justify-content-center">
                                    <div class="col-sm-8 center">
                                        <div class="form-group col-auto">
                                            <input type="text" name="mobile" value="" class="form-control text-center" placeholder="...0912">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn" type="submit">دریافت کد</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}