{% load static %}
<script src="{% static 'js/vendor-special/lazysizes.min.js' %}"></script>
<script src="{% static 'js/vendor-special/ls.bgset.min.js' %}"></script>
<script src="{% static 'js/vendor-special/ls.aspectratio.min.js' %}"></script>
<script src="{% static 'js/vendor-special/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor-special/jquery.ez-plus.js' %}"></script>
<script src="{% static 'js/vendor/vendor.min.js' %}"></script>
<script src="{% static 'js/app-html.js' %}"></script>