{% load static %}
<footer class="page-footer footer-style-6 ">
		<div class="holder ">
			<div class="footer-shop-info">
				<div class="container">
					<div class="text-icn-blocks-bg-row">
						<div class="text-icn-block-footer">
							<div class="icn">
								<i class="icon-trolley"></i>
							</div>
							<div class="text">
								<h4>تحویل بسیار سریع</h4>
								<p>سفارش شما 3-5 روز کاری پس از در دسترس بودن همه کالاهای
									شما تحویل داده می شود
								</p>
							</div>
						</div>
						<div class="text-icn-block-footer">
							<div class="icn">
								<i class="icon-currency"></i>
							</div>
							<div class="text">
								<h4>بهترین قیمت</h4>
								<p>ما بلافاصله قیمت محصولات رقبای اصلی آنلاین و محلی را
									مطابقت خواهیم داد
								</p>
							</div>
						</div>
						<div class="text-icn-block-footer">
							<div class="icn">
								<i class="icon-diplom"></i>
							</div>
							<div class="text">
								<h4>گارانتی</h4>
								<p>اگر مورد مورد نظر شما در دسترس باشد ، ما می توانیم
									بازپرداخت را پردازش کرده و سفارش جدیدی ارائه دهیم</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-top">
			<div class="container">
				<div class="row mt-0">
					<div class="col-lg col-xl last-mobile">
						<div class="footer-block">
							<div class="footer-logo">
								<a href="index.html"><img class="lazyload fade-up"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-srcset="{% static 'images/logo-footer.webp' %} 1x, {% static 'images/logo-footer2x.webp' %} 2x"
										alt="Logo"></a>
							</div>
							<div class="collapsed-content">
								<ul>
									<li>ایمیل : <a href="mailto:Exampleshop@gmail.com">Exampleshop@gmail.com</a>
									</li>
									<li>ساعت کاری : شنبه تا چهارشنبه، 10:00 - 18:00</li>
								</ul>
							</div>
							<ul class="social-list">
								<li>
									<a href="#" class="icon icon-facebook"></a>
								</li>
								<li>
									<a href="#" class="icon icon-twitter"></a>
								</li>
								<li>
									<a href="#" class="icon icon-google"></a>
								</li>
								<li>
									<a href="#" class="icon icon-vimeo"></a>
								</li>
								<li>
									<a href="#" class="icon icon-youtube"></a>
								</li>
								<li>
									<a href="#" class="icon icon-pinterest"></a>
								</li>
							</ul>
							<div class="d-lg-none mt-3">
								<div class="box-coupon">
									<div class="box-coupon-icon"><i class="icon-scissors"></i></div>
									<div class="box-coupon-text">قالب <span class="custom-color">فاکسیک</span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg col-xl">
						<div class="footer-block collapsed-mobile">
							<div class="title">
								<h4>اطلاعات</h4>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
							<div class="collapsed-content">
								<ul>
									<li><a href="about.html">درباره ما</a></li>
									<li><a href="contact.html">تماس با ما</a></li>
									<li><a href="typography.html">قوانین و مقررات</a></li>
									<li><a href="typography.html">تعویض و مرجوع</a></li>
									<li><a href="typography.html">حمل و نقل و ارسال</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg col-xl">
						<div class="footer-block collapsed-mobile">
							<div class="title">
								<h4>جزئیات حساب کاربری</h4>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
							<div class="collapsed-content">
								<ul>
									<li><a href="account-details.html">حساب کاربری من</a>
									</li>
									<li><a href="cart.html">مشاهده سبد خرید</a></li>
									<li><a href="account-wishlist.html">لیست علاقه مندی</a>
									</li>
									<li><a href="account-history.html">وضعیت سفارش</a></li>
									<li><a href="account-history.html">تاریخچه سفارشات</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg col-xl">
						<div class="footer-block collapsed-mobile">
							<div class="title">
								<h4>پرداخت امن</h4>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
							<div class="collapsed-content">
								<ul class="payment-link">
									<li><i class="icon-google-pay-logo"></i></li>
									<li><i class="icon-visa-pay-logo"></i></li>
									<li><i class="icon-apple-pay-logo"></i></li>
								</ul>
							</div>
							<div class="d-none d-lg-block">
								<div class="box-coupon">
									<div class="box-coupon-icon"><i class="icon-scissors"></i></div>
									<div class="box-coupon-text">قالب <span class="custom-color">فاکسیک</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom footer-bottom--bg">
			<div class="container">
				<div class="footer-copyright text-center">
					<a href="#">تمامی حقوق محفوظ است،</a> کپی رایت ©2020
				</div>
			</div>
		</div>
	</footer>