{% load static %}
<header class="hdr-wrap">
		<div class="hdr-content hdr-content-sticky">
			<div class="container">
				<div class="row">
					<div class="col-auto show-mobile">
						<div class="menu-toggle"> <a href="#" class="mobilemenu-toggle"><i class="icon-menu"></i></a>
						</div>
					</div>
					<div class="col-auto hdr-logo">
						<a href="index.html" class="logo"><img
								srcset="{% static 'images/skins/fashion/logo.webp' %} 1x, {% static 'images/skins/fashion/logo2x.webp' %} 2x"
								alt="Logo"></a>
					</div>
					<div class="hdr-nav hide-mobile nav-holder-s">
					</div>
					<div class="hdr-links-wrap col-auto mr-auto">
						<div class="hdr-inline-link">
							<div class="search_container_desktop">
								<div class="dropdn dropdn_search dropdn_fullwidth">
									<a href="#" class="dropdn-link  js-dropdn-link only-icon"><i
											class="icon-search"></i><span class="dropdn-link-txt">جستجو</span></a>
									<div class="dropdn-content">
										<div class="container">
											<form method="post" action="{% url 'home:product_search' %}" class="search search-off-popular">
                                                {% csrf_token %}
												<input name="search" type="text" class="search-input input-empty"
													placeholder="دنبال چه چیزی میگردید؟">
												<button type="submit" class="search-button"><i
														class="icon-search"></i></button>
												<a href="#" class="search-close js-dropdn-close"><i
														class="icon-close-thin"></i></a>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="dropdn dropdn_wishlist">
								<a href="account-wishlist.html" class="dropdn-link only-icon wishlist-link ">
									<i class="icon-heart"></i><span class="dropdn-link-txt">لیست علاقه مندی</span><span
										class="wishlist-qty">3</span>
								</a>
							</div>
							<div class="dropdn dropdn_account dropdn_fullheight">
								<a href="#" class="dropdn-link js-dropdn-link js-dropdn-link only-icon"
									data-panel="#dropdnAccount"><i class="icon-user"></i><span
										class="dropdn-link-txt">حساب کاربری</span></a>
							</div>
							<div class="dropdn dropdn_fullheight minicart">
								<a href="#" class="dropdn-link js-dropdn-link minicart-link only-icon"
									data-panel="#dropdnMinicart">
									<i class="icon-basket"></i>
									<span class="minicart-qty">3</span>
									<span class="minicart-total hide-mobile">340,000 تومان</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hdr">
			<div class="hdr-topline hdr-topline--dark js-hdr-top">
				<div class="container">
					<div class="row flex-nowrap">
						<div class="col hdr-topline-left hide-mobile">
							<div class="hdr-line-separate">
								<ul class="social-list list-unstyled">
									<li>
										<a href="#"><i class="icon-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-google"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-vimeo"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col hdr-topline-center">
							<div class="custom-text js-custom-text-carousel"
								data-slick='{"speed": 1000, "autoplaySpeed": 3000}'>
								<div class="custom-text-item"><i class="icon-fox"></i> برای دریافت 15% تخفیف از
									<span>فاکسیک</span> کد promocode را استفاده کنید </div>
								<div class="custom-text-item"><i class="icon-air-freight"></i> <span>ارسال رایگان</span>
									برای سفارشات بیشتر از<span> 250 هزار تومان</span></div>
								<div class="custom-text-item"><i class="icon-gift"></i> فقط امروز! فروش ویژه <span>
										تعطیلات</span> فلش و مموری</div>
							</div>
						</div>
						<div class="col hdr-topline-right hide-mobile">
							<div class="hdr-inline-link">
								<div class="dropdn_language">
									<div class="dropdn dropdn_language dropdn_language--noimg dropdn_caret">
										<a href="#" class="dropdn-link js-dropdn-link"><span
												class="js-dropdn-select-current">فارسی</span><i
												class="icon-angle-down"></i></a>

									</div>
								</div>
								<div class="dropdn_currency">
									<div class="dropdn dropdn_caret">
										<a href="#" class="dropdn-link js-dropdn-link">تومان<i
												class="icon-angle-down"></i></a>
									</div>
								</div>
								<div class="hdr_container_desktop">
									<div class="dropdn dropdn_account dropdn_fullheight">
										<a href="#" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount"><i
												class="icon-user"></i><span class="dropdn-link-txt">حساب
												کاربری</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hdr-content">
				<div class="container">
					<div class="row">
						<div class="col-auto show-mobile">
							<div class="menu-toggle"> <a href="#" class="mobilemenu-toggle"><i
										class="icon-menu"></i></a> </div>
						</div>
						<div class="col-auto hdr-logo">
							<a href="index.html" class="logo"><img
									srcset="{% static 'images/skins/fashion/logo.webp' %} 1x, {% static 'images/skins/fashion/logo2x.webp' %} 2x"
									alt="Logo"></a>
						</div>
						<div class="hdr-nav hide-mobile nav-holder justify-content-center px-4">
							<ul class="mmenu mmenu-js">
								<li class="mmenu-item--simple"><a href="#">دسته بندی ها</a>
                                <div class="mmenu-submenu">
                                    <ul class="submenu-list">
                                        {% for data in category %}
                                        <li><a href="{% url 'home:category' data.slug%}">{{ data.name}}</a>
                                            {% if data.sub.first  %}
                                            <ul>
                                            {% for info in data.sub.all %}
                                                <li><a href="{% url 'home:category' info.slug%}">{{ info.name}}</a>
                                                </li>
                                            {% endfor %}

                                            </ul>
                                        {% endif %}
                                        </li>
                                        {% endfor %}




                                    </ul>
                                </div>
                            </li>
								<li class="mmenu-item--simple"><a href="#">صفحات</a>
									<div class="mmenu-submenu">
										<ul class="submenu-list">
											<li><a href="product.html">صفحه محصول</a>
												<ul>
													<li><a href="product.html">صفحه محصول نوع 1<span
																class="menu-label menu-label--color3">محبوب</span></a>
													</li>
													<li><a href="product-2.html">صفحه محصول نوع 2</a></li>
												</ul>
											</li>
											<li><a href="category.html">صفحه دسته بندی</a>
												<ul>
													<li><a href="category.html">فیلترهای سایدبار راست</a></li>
												</ul>
											</li>
											<li><a href="cart.html">سبد خرید و پرداخت</a>
												<ul>
													<li><a href="cart.html">صفحه سبد خرید</a></li>
												</ul>
											</li>
											<li><a href="account-create.html">حساب کاربری</a>
												<ul>
													<li><a href="account-create.html">ورود</a></li>
													<li><a href="account-create.html">ایجاد حساب کاربری</a></li>
													<li><a href="account-details.html">جزئیات حساب کاربری</a></li>
													<li><a href="account-addresses.html">آدرس ها</a></li>
													<li><a href="account-history.html">تاریخچه سفارشات</a></li>
													<li><a href="account-wishlist.html">لیست علاقه مندی</a></li>
												</ul>
											</li>
											<li><a href="blog.html">اخبار</a>
												<ul>
													<li><a href="blog.html">سایدبار چپ</a></li>
												</ul>
											</li>
											<li><a href="gallery.html">گالری</a></li>
											<li><a href="faq.html">سوالات متداول</a></li>
											<li><a href="about.html">درباره ما</a></li>
											<li><a href="contact.html">تماس با ما</a></li>
											<li><a href="404.html">خطا 404</a></li>
											<li><a href="typography.html">تایپوگرافی</a></li>
											<li><a href="coming-soon.html" target="_blank">به زودی</a></li>
										</ul>
									</div>
								</li>
								<li><a href="category.html">لوازم جانبی<span class="menu-label">فروش ویژه</span></a>
								</li>
								<li class="mmenu-item--mega"><a href="category.html">مردانه</a>
									<div class="mmenu-submenu mmenu-submenu--has-bottom">
										<div class="mmenu-submenu-inside">
											<div class="container">
												<div class="mmenu-left width-25">
													<div class="mmenu-bnr-wrap">
														<a href="#" class="image-hover-scale"><img
																src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
																data-srcset="{% static 'images/menu/mmenu-bnr-01.webp' %}"
																class="lazyload fade-up" alt=""></a>
													</div>
													<h3 class="submenu-title"><a href="category.html">کالکشن
															ویژه<br>بهار-تابستان 2021</a></h3>
												</div>
												<div class="mmenu-cols column-4">
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="category.html">کالکشن
																ها</a>
														</h3>
														<ul class="submenu-list">
															<li><a href="category.html">هنر مارتینز 2020/21<span
																		class="submenu-link-txt">از ژوئن 2019 در
																		بوتیک
																		ها موجود است</span></a></li>
															<li><a href="category.html">بهار-تابستان 2021<span
																		class="submenu-link-txt">موجود در بوتیک
																		ها</span></a></li>
															<li><a href="category.html">این کالکشن در
																	بهار-تابستان 2021
																	<span class="submenu-link-txt">در بوتیک
																		ها</span></a></li>
															<li><a href="category.html">سفر دریایی 2020/21<span
																		class="submenu-link-txt">در بوتیک
																		ها</span></a>
															</li>
															<li><a href="category.html">پاییز-زمستان 1400/01</a>
															</li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="category.html">آماده
																برای
																پوشیدن</a></h3>
														<ul class="submenu-list">
															<li><a href="category.html" class="active">کت و
																	ژاکت</a>
																<ul class="sub-level">
																	<li><a href="category.html">ژاکت ویژه</a>
																	</li>
																	<li><a href="category.html">کت دوچرخه
																			سواری</a></li>
																	<li><a href="category.html">کاپشن کامیون</a>
																	</li>
																	<li><a href="category.html">کت های جین</a>
																	</li>
																	<li><a href="category.html">ژاکت های
																			بلوز<span class="menu-label">فروش
																				ویژه</span></a>
																	</li>
																	<li><a href="category.html">پالتو</a></li>
																	<li><a href="category.html">کت های جدید</a>
																	</li>
																</ul>
															</li>
															<li><a href="category.html">لباس<span
																		class="menu-label menu-label--color3">فروش
																		ویژه</span></a>
															</li>
															<li><a href="category.html">بلوز و تاپ</a></li>
															<li><a href="category.html">ژاکت پشمی و پلیور</a>
															</li>
															<li><a href="category.html">دامن</a></li>
															<li><a href="category.html">شلوار و شلوارک</a></li>
															<li><a href="category.html">لباس بیرونی</a></li>
															<li><a href="category.html">لباس شنا</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="category.html">لوازم
																جانبی</a></h3>
														<ul class="submenu-list">
															<li><a href="category.html">کت و ژاکت</a></li>
															<li><a href="category.html">لباس</a></li>
															<li><a href="category.html">بلوز و تاپ</a></li>
															<li><a href="category.html">ژاکت پشمی و پلیور</a>
															</li>
															<li><a href="category.html">دامن<span
																		class="menu-label">فروش ویژه</span></a>
															</li>
															<li><a href="category.html">شلوار و شلوارک</a></li>
															<li><a href="category.html">لباس بیرونی</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="category.html">برند
																ها</a>
														</h3>
														<ul class="submenu-list">
															<li><a href="category.html">کت و ژاکت</a></li>
															<li><a href="category.html">لباس</a></li>
															<li><a href="category.html">بلوز و تاپ</a></li>
															<li><a href="category.html">ژاکت پشمی و پلیور</a>
															</li>
															<li><a href="category.html">دامن<span
																		class="menu-label menu-label--color1">فروش
																		ویژه</span></a>
															</li>
															<li><a href="category.html">شلوار و شلوارک</a></li>
															<li><a href="category.html">لباس بیرونی</a></li>
														</ul>
													</div>
													<div class="mmenu-bottom justify-content-center">
														<a href="#"><i class="icon-fox icon--lg"></i><b>اخبار
																فروشگاه</b><i class="icon-arrow-left"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="mmenu-item--mega"><a href="category.html">زنانه</a>
									<div class="mmenu-submenu mmenu-submenu--has-bottom">
										<div class="mmenu-submenu-inside">
											<div class="container">
												<div class="mmenu-right width-25">
													<div class="mmenu-bnr-wrap">
														<a href="#" class="image-hover-scale"><img
																src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
																data-srcset="{% static 'images/menu/mmenu-bnr-02.webp' %}"
																class="lazyload fade-up" alt=""></a>
													</div>
													<h3 class="submenu-title"><a href="category.html">کالکشن
															ویژه<br>بهار-تابستان 2021</a></h3>
												</div>
												<div class="mmenu-cols column-4">
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="category.html">کالکشن
																ها</a>
														</h3>
														<ul class="submenu-list">
															<li><a href="category.html">هنر مارتینز 2020/21<span
																		class="submenu-link-txt">از ژوئن 2019 در
																		بوتیک
																		ها موجود است</span></a></li>
															<li><a href="category.html">بهار-تابستان 2021<span
																		class="submenu-link-txt">موجود در بوتیک
																		ها</span></a></li>
															<li><a href="category.html">این کالکشن در
																	بهار-تابستان 2021
																	<span class="submenu-link-txt">در بوتیک
																		ها</span></a></li>
															<li><a href="category.html">سفر دریایی 2020/21<span
																		class="submenu-link-txt">در بوتیک
																		ها</span></a>
															</li>
															<li><a href="category.html">پاییز-زمستان 1400/01</a>
															</li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="category.html">آماده
																برای
																پوشیدن</a></h3>
														<ul class="submenu-list">
															<li><a href="category.html">کت و ژاکت</a></li>
															<li><a href="category.html">لباس<span
																		class="menu-label menu-label--color3">فروش
																		ویژه</span></a>
															</li>
															<li><a href="category.html">بلوز و تاپ</a>
																<ul>
																	<li><a href="category.html">کت و ژاکت</a>
																	</li>
																	<li><a href="category.html">لباس<span
																				class="menu-label menu-label--color3">فروش
																				ویژه</span></a>
																	</li>
																	<li><a href="category.html">بلوز و تاپ</a>
																		<ul>
																			<li><a href="category.html">کت و
																					ژاکت</a>
																			</li>
																			<li><a href="category.html">لباس<span
																						class="menu-label menu-label--color3">فروش
																						ویژه</span></a>
																				<ul>
																					<li><a href="category.html">ژاکت
																							ها</a>
																					</li>
																					<li><a href="category.html">لباس<span
																								class="menu-label menu-label--color3">فروش
																								ویژه</span></a>
																						<ul>
																							<li><a href="category.html">ژاکت
																									ها</a>
																							</li>
																							<li><a href="category.html">لباس<span
																										class="menu-label menu-label--color3">فروش
																										ویژه</span></a>
																							</li>
																							<li><a href="category.html">بلوز
																									و تاپ</a>
																							</li>
																							<li><a href="category.html">لباس
																									پشمی و
																									پلیور</a>
																							</li>
																							<li><a
																									href="category.html">دامن</a>
																							</li>
																							<li><a href="category.html">شلواز
																									و شلوارک</a>
																							</li>
																							<li><a href="category.html">لباس
																									بیرونی</a>
																							</li>
																							<li><a href="category.html">لباس
																									شنا</a>
																							</li>
																						</ul>
																					</li>
																					<li><a href="category.html">بلوز
																							و
																							تاپ</a></li>
																					<li><a href="category.html">لباس
																							پشمی و پلیور</a>
																					</li>
																					<li><a href="category.html">دامن</a>
																					</li>
																					<li><a href="category.html">شلوار
																							و
																							شلوارک</a></li>
																					<li><a href="category.html">لباس
																							بیرونی</a>
																					</li>
																					<li><a href="category.html">لباس
																							شنا</a>
																					</li>
																				</ul>
																			</li>
																			<li><a href="category.html">بلوز و
																					تاپ</a>
																			</li>
																			<li><a href="category.html">لباس
																					پشمی و
																					پلیور</a></li>
																			<li><a href="category.html">دامن</a>
																			</li>
																			<li><a href="category.html">شلوار و
																					شلوارک</a></li>
																			<li><a href="category.html">لباس
																					بیرونی</a>
																			</li>
																			<li><a href="category.html">لباس
																					شنا</a>
																			</li>
																		</ul>
																	</li>
																	<li><a href="category.html">لباس پشمی و
																			پلیور</a>
																	</li>
																	<li><a href="category.html">دامن</a></li>
																	<li><a href="category.html">شلوار و
																			شلوارک</a></li>
																	<li><a href="category.html">لباس بیرونی</a>
																	</li>
																	<li><a href="category.html">لباس شنا</a>
																	</li>
																</ul>
															</li>
															<li><a href="category.html">ژاکت پشمی و پلیور</a>
															</li>
															<li><a href="category.html">دامن</a></li>
															<li><a href="category.html">شلوار و شلوارک</a></li>
															<li><a href="category.html">لباس بیرونی</a></li>
															<li><a href="category.html">لباس شنا</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="category.html">لوازم
																جانبی</a></h3>
														<ul class="submenu-list">
															<li><a href="category.html">کت و ژاکت</a></li>
															<li><a href="category.html">لباس</a></li>
															<li><a href="category.html">بلوز و تاپ</a></li>
															<li><a href="category.html">ژاکت پشمی و پلیور</a>
															</li>
															<li><a href="category.html">دامن<span
																		class="menu-label">فروش ویژه</span></a>
															</li>
															<li><a href="category.html">شلوار و شلوارک</a></li>
															<li><a href="category.html">لباس بیرونی</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="category.html">برند
																ها</a>
														</h3>
														<ul class="submenu-list">
															<li><a href="category.html">کت و ژاکت</a></li>
															<li><a href="category.html">لباس</a></li>
															<li><a href="category.html">بلوز و تاپ</a></li>
															<li><a href="category.html">ژاکت پشمی و پلیور</a>
															</li>
															<li><a href="category.html">دامن<span
																		class="menu-label menu-label--color1">فروش
																		ویژه</span></a>
															</li>
															<li><a href="category.html">شلوار و شلوارک</a></li>
															<li><a href="category.html">لباس بیرونی</a></li>
														</ul>
													</div>
													<div class="mmenu-bottom justify-content-center">
														<a href="#"><i class="icon-fox icon--lg"></i><b>اخبار
																فروشگاه</b><i class="icon-arrow-left"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="hdr-links-wrap col-auto mr-auto">
							<div class="hdr-inline-link">
								<div class="search_container_desktop">
									<div class="dropdn dropdn_search dropdn_fullwidth">
										<a href="#" class="dropdn-link  js-dropdn-link only-icon"><i
												class="icon-search"></i><span class="dropdn-link-txt">جستجو</span></a>
										<div class="dropdn-content">
											<div class="container">
												<form method="post" action="{% url 'home:product_search' %}" class="search search-off-popular">
                                                    {% csrf_token %}
													<input name="search" type="text" class="search-input input-empty"
														placeholder="دنبال چه چیزی میگردید؟">
													<button type="submit" class="search-button"><i
															class="icon-search"></i></button>
													<a href="#" class="search-close js-dropdn-close"><i
															class="icon-close-thin"></i></a>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="dropdn dropdn_wishlist">
									<a href="account-wishlist.html" class="dropdn-link only-icon wishlist-link ">
										<i class="icon-heart"></i><span class="dropdn-link-txt">لیست علاقه
											مندی</span><span class="wishlist-qty">3</span>
									</a>
								</div>
								<div class="hdr_container_mobile show-mobile">
									<div class="dropdn dropdn_account dropdn_fullheight">
										<a href="#" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount"><i
												class="icon-user"></i><span class="dropdn-link-txt">حساب
												کاربری</span></a>
									</div>
								</div>
								<div class="dropdn dropdn_fullheight minicart">
									<a href="#" class="dropdn-link js-dropdn-link minicart-link"
										data-panel="#dropdnMinicart">
										<i class="icon-basket"></i>
										<span class="minicart-qty">3</span>
										<span class="minicart-total hide-mobile">340,000 تومان</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>