{% load static %}
<div class="header-side-panel">
		<div class="mobilemenu js-push-mbmenu">
			<div class="mobilemenu-content">
				<div class="mobilemenu-close mobilemenu-toggle">بستن</div>
				<div class="mobilemenu-scroll">
					<div class="mobilemenu-search"></div>
					<div class="nav-wrapper show-menu">
						<div class="nav-toggle">
							<span class="nav-back"><i class="icon-angle-right"></i></span>
							<span class="nav-title"></span>
							<a href="#" class="nav-viewall">مشاهده همه</a>
						</div>
						<ul class="nav nav-level-1">
							<li><a href="index.html">لایه ها<span class="menu-label menu-label--color1">جدید</span><span
										class="arrow"><i class="icon-angle-left"></i></a>
								<ul class="nav-level-2">
									<li><a href="index.html">پوسته مُد (پیش فرض)</a></li>
									<li><a href="index-electronics.html">پوسته لوازم الکترونیکی<span
												class="menu-label menu-label--color2">جدید</span></a></li>
								</ul>
							</li>
							<li><a href="#">صفحات<span class="arrow"><i class="icon-angle-left"></i></a>
								<ul class="nav-level-2">
									<li><a href="product.html">صفحه محصول<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="product.html">صفحه محصول نوع 1<span
														class="menu-label menu-label--color3">محبوب</span></a></li>
											<li><a href="product-2.html">صفحه محصول نوع 2</a></li>

										</ul>
									</li>
									<li><a href="category.html">صفحه دسته بندی<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="category.html">فیلترهای سایدبار راست</a></li>
										</ul>
									</li>
									<li><a href="cart.html">سبد خرید و پرداخت<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="cart.html">صفحه سبد خرید</a></li>
										</ul>
									</li>
									<li><a href="account-create.html">حساب کاربری<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="account-create.html">ورود</a></li>
											<li><a href="account-create.html">ایجاد حساب کاربری</a></li>
											<li><a href="account-details.html">جزئیات حساب کاربری</a></li>
											<li><a href="account-addresses.html">آدرس ها</a></li>
											<li><a href="account-history.html">تاریخچه سفارشات</a></li>
											<li><a href="account-wishlist.html">لیست علاقه مندی</a></li>
										</ul>
									</li>
									<li><a href="blog.html">اخبار<span class="arrow"><i class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="blog.html">سایدبار چپ</a></li>
											<li><a href="blog-left-sidebar.html">سایدبار راست</a></li>
											<li><a href="blog-without-sidebar.html">بدون سایدبار</a></li>
											<li><a href="blog-sticky-sidebar.html">سایدبار چسبیده</a></li>
											<li><a href="blog-grid.html">شبکه بندی</a></li>
											<li><a href="blog-post.html">جزئیات خبر</a></li>
										</ul>
									</li>
									<li><a href="gallery.html">گالری</a></li>
									<li><a href="faq.html">سوالات متداول</a></li>
									<li><a href="about.html">درباره ما</a></li>
									<li><a href="contact.html">تماس با ما</a></li>
									<li><a href="404.html">خطا 404</a></li>
									<li><a href="typography.html">تایپوگرافی</a></li>
									<li><a href="coming-soon.html" target="_blank">به زودی</a></li>
								</ul>
							</li>
							<li><a href="category.html">محصولات جدید<span class="arrow"><i
											class="icon-angle-left"></i></a>
								<ul class="nav-level-2">
									<li><a href="category.html">کفش ها<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="category.html">پاشنه بلند</a></li>
											<li><a href="category.html">پوتین</a></li>
											<li><a href="category.html">تخت</a></li>
											<li><a href="category.html">ورزشی و مجلسی</a></li>
											<li><a href="category.html">مخصوص دویدن</a></li>
										</ul>
									</li>
									<li><a href="category.html">برتر<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="category.html">لباس</a></li>
											<li><a href="category.html">پیراهن و تاپ</a></li>
											<li><a href="category.html">کت و پالتو</a></li>
											<li><a href="category.html">سوییشرت</a></li>
										</ul>
									</li>
									<li><a href="category.html">کفش ها<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="category.html">پاشنه بلند</a></li>
											<li><a href="category.html">پوتین</a></li>
											<li><a href="category.html">تخت</a></li>
											<li><a href="category.html">ورزشی و مجلسی</a></li>
											<li><a href="category.html">مخصوص دویدن</a></li>
										</ul>
									</li>
									<li><a href="category.html">پایین تنه<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="category.html">جین</a></li>
											<li><a href="category.html">شلوار</a></li>
											<li><a href="category.html">شلوار اسلش</a></li>
											<li><a href="category.html">شلوارک</a></li>
											<li><a href="category.html">جوراب</a></li>
										</ul>
									</li>
									<li><a href="category.html">لوازم جانبی<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="category.html">عینک آفتابی</a></li>
											<li><a href="category.html">کلاه</a></li>
											<li><a href="category.html">ساعت</a></li>
											<li><a href="category.html">زیورآلات</a></li>
											<li><a href="category.html">کمربند</a></li>
										</ul>
									</li>
									<li><a href="category.html">کیف ها<span class="arrow"><i
													class="icon-angle-left"></i></a>
										<ul class="nav-level-3">
											<li><a href="category.html">کیف دستی</a></li>
											<li><a href="category.html">کوله پشتی</a></li>
											<li><a href="category.html">کیف بند دار</a></li>
											<li><a href="category.html">کیف پول</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" target="_blank">قالب فاکسیک<span class="menu-label menu-label--color3">عجله
										کنید!</span><span class="arrow"><i class="icon-angle-left"></i></span></a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		<div class="dropdn-content account-drop" id="dropdnAccount">
			<div class="dropdn-content-block">
				<div class="dropdn-close"><span class="js-dropdn-close">بستن</span></div>
				<ul>
					<li><a href="account-create.html"><span>ورود</span><i class="icon-login"></i></a></li>
					<li><a href="account-create.html"><span>ثبت نام</span><i class="icon-user2"></i></a></li>
					<li><a href="checkout.html"><span>پرداخت</span><i class="icon-card"></i></a></li>
				</ul>
				<div class="dropdn-form-wrapper">
					<h5>ورود سریع</h5>
					<form action="#">
						<div class="form-group">
							<input type="text" class="form-control form-control--sm is-invalid"
								placeholder="ایمیل خود را وارد کنید">
							<div class="invalid-feedback">نمی تواند خالی باشد</div>
						</div>
						<div class="form-group">
							<input type="password" class="form-control form-control--sm"
								placeholder="رمز عبور خود را وارد کنید">
						</div>
						<button type="submit" class="btn">وارد شوید</button>
					</form>
				</div>
			</div>
			<div class="drop-overlay js-dropdn-close"></div>
		</div>
		<div class="dropdn-content minicart-drop" id="dropdnMinicart">
			<div class="dropdn-content-block">
				<div class="dropdn-close"><span class="js-dropdn-close">بستن</span></div>
				<div class="minicart-drop-content js-dropdn-content-scroll">
					<div class="minicart-prd row">
						<div class="minicart-prd-image image-hover-scale-circle col">
							<a href="product.html"><img class="lazyload fade-up"
									src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-src="{% static 'images/skins/fashion/products/product-01-1.webp' %}" alt=""></a>
						</div>
						<div class="minicart-prd-info col">
							<div class="minicart-prd-tag">فاکسیک</div>
							<h2 class="minicart-prd-name"><a href="#">شلوار چرمی</a></h2>
							<div class="minicart-prd-qty"><span class="minicart-prd-qty-label">تعداد : </span><span
									class="minicart-prd-qty-value">1</span></div>
							<div class="minicart-prd-price prd-price">
								<div class="price-old">200,000 تومان</div>
								<div class="price-new">180,000 تومان</div>
							</div>
						</div>
						<div class="minicart-prd-action">
							<a href="#" class="js-product-remove" data-line-number="1"><i class="icon-recycle"></i></a>
						</div>
					</div>
					<div class="minicart-prd row">
						<div class="minicart-prd-image image-hover-scale-circle col">
							<a href="product.html"><img class="lazyload fade-up"
									src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-src="{% static 'images/skins/fashion/products/product-16-1.webp' %}" alt=""></a>
						</div>
						<div class="minicart-prd-info col">
							<div class="minicart-prd-tag">فاکسیک</div>
							<h2 class="minicart-prd-name"><a href="#">پیراهن معمولی</a></h2>
							<div class="minicart-prd-qty"><span class="minicart-prd-qty-label">تعداد : </span><span
									class="minicart-prd-qty-value">1</span></div>
							<div class="minicart-prd-price prd-price">
								<div class="price-old">200,000 تومان</div>
								<div class="price-new">180,000 تومان</div>
							</div>
						</div>
						<div class="minicart-prd-action">
							<a href="#" class="js-product-remove" data-line-number="2"><i class="icon-recycle"></i></a>
						</div>
					</div>
					<div class="minicart-empty js-minicart-empty d-none">
						<div class="minicart-empty-text">سبد خرید شما خالی است</div>
						<div class="minicart-empty-icon">
							<i class="icon-shopping-bag"></i>
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 306 262"
								style="enable-background:new 0 0 306 262;" xml:space="preserve">
								<path class="st0"
									d="M78.1,59.5c0,0-37.3,22-26.7,85s59.7,237,142.7,283s193,56,313-84s21-206-69-240s-249.4-67-309-60C94.6,47.6,78.1,59.5,78.1,59.5z" />
							</svg>
						</div>
					</div>
					<a href="#" class="minicart-drop-countdown mt-3">
						<div class="countdown-box-full">
							<div class="row no-gutters align-items-center">
								<div class="col-auto"><i class="icon-gift icon--giftAnimate"></i></div>
								<div class="col">
									<div class="countdown-txt">هنگام خرید 2 محصول، محصول سوم
										را هدیه بگیرید
									</div>
									<div class="countdown js-countdown" data-countdown="2021/12/01"></div>
								</div>
							</div>
						</div>
					</a>
					<div class="minicart-drop-info d-none d-md-block">
						<div class="shop-feature-single row no-gutters align-items-center">
							<div class="shop-feature-icon col-auto"><i class="icon-truck"></i></div>
							<div class="shop-feature-text col"><b>ارسال!</b> برای افزودن
								محصولات بیشتر و دریافت ارسال
								رایگان ، به خرید خود ادامه دهید</div>
						</div>
					</div>
				</div>
				<div class="minicart-drop-fixed js-hide-empty">
					<div class="loader-horizontal-sm js-loader-horizontal-sm" data-loader-horizontal=""><span></span>
					</div>
					<div class="minicart-drop-total js-minicart-drop-total row no-gutters align-items-center">
						<div class="minicart-drop-total-txt col-auto heading-font">جمع کل
						</div>
						<div class="minicart-drop-total-price col" data-header-cart-total="">340,000 تومان</div>
					</div>
					<div class="minicart-drop-actions">
						<a href="cart.html" class="btn btn--md btn--grey"><i class="icon-basket"></i><span>سبد
								خرید</span></a>
						<a href="checkout.html" class="btn btn--md"><i class="icon-checkout"></i><span>پرداخت</span></a>
					</div>
					<ul class="payment-link mb-2">
						<li><i class="icon-amazon-logo"></i></li>
						<li><i class="icon-visa-pay-logo"></i></li>
						<li><i class="icon-skrill-logo"></i></li>
						<li><i class="icon-klarna-logo"></i></li>
						<li><i class="icon-paypal-logo"></i></li>
						<li><i class="icon-apple-pay-logo"></i></li>
					</ul>
				</div>
			</div>
			<div class="drop-overlay js-dropdn-close"></div>
		</div>
	</div>